{% for comment in comments %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <p> {{ comment.getText() }} </p>

                <p><em>Comment by {{ comment.getUser().getUsername() }}
                        - {{ comment.getDate().format('Y-m-d H:i:s') }}</em></p>

                {% if user and user.getIsAdmin() %}
                    <p>
                        <a href="{{ url('comment/edit/' ~ comment.getId()) }}" class="btn btn-sm btn-info">Edit</a>
                        <a href="{{ url('comment/delete/' ~ comment.getId()) }}" class="btn btn-sm btn-danger">Delete</a>
                    </p>
                {% endif %}
                <hr>
            </div>
        </div>
    </div>
{% endfor %}