{% extends "layout/base.twig" %}

    {% block content %}
        <div class="row">
            <div class="row">
                <h1 class="page-header">
                    Deleting Post
                </h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-user"></span> {{ post.getUser().getUsername() }}
                    <span class="glyphicon glyphicon-time"></span> {{ post.getDate().format('Y-m-d H:i:s') }}
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <form method="post" action="{{ url("post/delete/" ~ post.getId()) }}">
                        <input type="hidden" value="{{ token }}" name="formToken">

                        <div class="form-control ">{{ post.getText() }}</div>
                        <br>
                        <input type="submit" class="btn btn-danger" value="Delete Post">
                        <a href="{{ url('post/get/' ~ post.getId()) }}" class="btn btn-info">View post with comments</a>

                    </form>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    {% endblock %}
