{% extends "layout/base.twig" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">
            {{ post.getTitle() }}
        </h1>

        <p><em>{{ post.getCategory().getName() }} </em> <span
                    class="glyphicon glyphicon-time"></span> {{ post.getDate().format('Y-m-d H:i:s') }}</p>

        <p class="lead">
            by {{ post.getUser().getUsername() }}
        </p>

        <p>{{ post.getText() }}</p>
        <hr>
    </div>

    {% if user and user.getIsAdmin() %}
        <div class="row">

            <p>
                <a href="{{ url('post/edit/' ~ post.getId()) }}" class="btn btn-sm btn-info">Edit Post</a>
                <a href="{{ url('post/delete/' ~ post.getId()) }}" class="btn btn-sm btn-danger">Delete Post</a>
            </p>
        </div>
    {% endif %}

    <div class="row">
        <h2>
            <a href="#">Comments</a>
        </h2>

        <div class="col-md-1"></div>
        <div class="col-md-10">
            {% include 'comments/view.twig' %}
        </div>
        <div class="col-md-1"></div>
    </div>
    {% include 'comments/add.twig' %}
{% endblock %}
